@page
@model PrivacyModel
@{
    ViewData["Title"] = "Entries Manager";
}
<h1>@ViewData["Title"]</h1>
<head>
    <!-- Entry manager script  -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/EntryManager.js"></script>
    <p>Use this page to add new entries to machinery list </p>
</head>
<body>
    <div class="entriesBox" id="parentNode">
        <div role="row" class="buttonPanel">
            <button class="entryButton" id="okButt">OK</button>
            <button class="entryButton" id="cancelButt">Cancel</button>
            <button class="entryButton" id="rowAddButt">Add option row </button>
        </div>
        <div role="row">

            <a>Category</a>
            <select id="categoryOptions">
            </select>
        </div>
        <div role="row">
            <a>Manufacturer</a>
            <input id="manufacturerName" required/>
        </div>
        <div role="row">
            <a>Machine name</a>
            <input id="machineName" required />
        </div>
       
        <div class="optionalData" id="optionalData">
            
        </div>
       

        
    </div>
        

    
</body>

