@page
@model PrivacyModel
@{
    ViewData["Title"] = "Entries Manager";
}
<h1>@ViewData["Title"]</h1>
<head>
    <!-- Entry manager script  -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/js/EntryManager.js"></script>

</head>
<body>
    <div class="entriesBox">
        <div role="row">
            <a>Category</a>
            <select id="Options">
                <option selected=""></option>
                
            </select>
        </div>
        <div role="row">
            <a>Machine name</a>
            <input id="machineName"/>
        </div>
        <div role="row">
            <button class="entryButton" id="okButt">OK</button>
            <button class="entryButton" id="cancelButt">Cancel</button>
        </div>
    </div>
</body>
<p>Use this page to add new entries of machinery list </p>
